name: CI

on:
  push:
  pull_request:

jobs:
  test:
    name: Test on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [14, 16, 18]

    steps:
      - uses: actions/checkout@master

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@master
        with:
          version: ${{ matrix.node_version }}

      - name: Install
        run: |
          yarn

      - name: Build
        run: |
          yarn build

      - name: Test
        run: |
          yarn test
